{% extends 'baseAdmin.html.twig' %}

{% block body %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h1>Liste groupe:</h1>

                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for groupMember in groupMembers %}
                        <tr>
                            <td><a href="{{ path('groupmember_show', { 'id': groupMember.id }) }}">{{ groupMember.id }}</a></td>
                            <td>{{ groupMember.name }}</td>
                            <td>{{ groupMember.description }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('groupmember_show', { 'id': groupMember.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('groupmember_edit', { 'id': groupMember.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('groupmember_new') }}">Create a new groupMember</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
{% endblock %}
