{% extends '::baseAdmin.html.twig' %}

{% block body %}

<!--**********************************************************************************************************-->
<!--********************************************* HEADER         *********************************************-->
<!--**********************************************************************************************************-->
<section id="portfolio">
    <div class="container-fluid p-0">
        <div class="row">      

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
              <a href="{{ path('user_new') }}"><img class="img-fluid" src="{{ asset('app/img/icon/icon_users.png')}}" alt=""></a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
              <a href="{{ path('problematic_new') }}"><img class="img-fluid" src="{{ asset('app/img/icon/icon_problematic.png')}}" alt=""></a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
              <a href="{{ path('project_new') }}"><img class="img-fluid" src="{{ asset('app/img/icon/icon_project.png')}}" alt=""></a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
              <a href="{{ path('myevent_new') }}"><img class="img-fluid" src="{{ asset('app/img/icon/icon_event.png')}}" alt=""></a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
              <a href="{{ path('actuality_new') }}"><img class="img-fluid" src="{{ asset('app/img/icon/icon_actuality.png')}}" alt=""></a>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 text-center">
              <a href="{{ path('article_new') }}"><img class="img-fluid" src="{{ asset('app/img/icon/icon_articles.png')}}" alt=""></a>
            </div>

        </div>
     </div>
</section>

<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">4itec</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4"><q>UNE PLATEFORME D’INNOVATIONS AU SERVICE DES ENTREPRISES FRANCAISES</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('app_homepage') }}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>  4itec  </a>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('fos_user_security_logout') }}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Quitter</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}

