<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}4ITEC{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('app/img/logo4.png')}}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />



        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        <link href="{{ asset('app/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="{{ asset('app/vendor/font-awesome/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

        <!-- Plugin CSS -->
        <link href="{{ asset('app/vendor/magnific-popup/magnific-popup.css')}}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('app/css/creative.min.css')}}" rel="stylesheet">

        <!-- CSS-->
        <link href="{{ asset('app/main.css')}}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>



<!--********************************************* BODY              *********************************************-->
    <body id="page-top">


<!--********************************************* BLOC NAVIGATION    *********************************************-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            {{ include('AppBundle:Includes:blocNavbar.html.twig') }}
        </nav>


<!--********************************************* BLOC-BODY         *********************************************-->
        {% block body %}{% endblock %}



<!--********************************************* SCRIPT            *********************************************-->
        <!-- Bootstrap core JavaScript -->
        <script src="{{ asset('app/vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{ asset('app/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

        <!-- Plugin JavaScript -->
        <script src="{{ asset('app/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
        <script src="{{ asset('app/vendor/scrollreveal/scrollreveal.min.js')}}"></script>
        <script src="{{ asset('app/vendor/magnific-popup/jquery.magnific-popup.min.js')}}"></script>

        <!-- Custom scripts for this template -->
        <script src="{{ asset('app/js/creative.min.js')}}"></script>
        {% block javascripts %}{% endblock %}

    </body>

</html>
