{% extends 'baseAdmin.html.twig' %}

{% block body %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h1>Type de problématique:</h1>

                <table>
                    <tbody>
                        <tr>
                            <th>Id</th>
                            <td>{{ typeOfProblematic.id }}</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ typeOfProblematic.name }}</td>
                        </tr>
                        <tr>
                            <th>Description</th>
                            <td>{{ typeOfProblematic.description }}</td>
                        </tr>
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('typeofproblematic_index') }}">Back to the list</a>
                    </li>
                    <li>
                        <a href="{{ path('typeofproblematic_edit', { 'id': typeOfProblematic.id }) }}">Edit</a>
                    </li>
                    <li>
                        {{ form_start(delete_form) }}
                            <input type="submit" value="Delete">
                        {{ form_end(delete_form) }}
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
{% endblock %}
