<!--**********************************************************************************************************-->
<!--********************************************* EVENEMENTS     *********************************************-->
<!--**********************************************************************************************************-->





<section id="event" class="bg-dark text-white">
    <div class="container text-center">
        <h2 class="mb-4">Événements</h2>
        <a class="btn btn-light btn-xl sr-button" href="{{ path('app_event') }}">voir plus</a>
    </div>

    <div class="row">
        <div class="col-lg-12 text-center">
            <hr class="my-4">
        </div>
    </div>

    <div class="container-fluid p-0">


            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 text-center container-fluid p-0">
                <div class="row">

                    {% for myEvent in myEvents %}
                        {% if loop.index0 <=3 %}
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 text-center" style="height:200px; overflow:scroll;">
                                <a href="{{ path('app_event', { 'id': myEvent.id }) }}">{{ myEvent.name }}</a><br>
                                <span style="color:red">{{ myEvent.typeOfTheEvent }}</span><br/>
                                {{ myEvent.description }}
                                <ul>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
            </div>

    </div>
</section>









