{% extends 'baseAdmin.html.twig' %}

{% block body %}

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <h1>Liste des niveaux d'accès:</h1>

                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Accesslevel</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for levelOfAccess in levelOfAccesses %}
                        <tr>
                            <td><a href="{{ path('levelofaccess_show', { 'id': levelOfAccess.id }) }}">{{ levelOfAccess.id }}</a></td>
                            <td>{{ levelOfAccess.title }}</td>
                            <td>{{ levelOfAccess.accessLevel }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('levelofaccess_show', { 'id': levelOfAccess.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('levelofaccess_edit', { 'id': levelOfAccess.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('levelofaccess_new') }}">Create a new levelOfAccess</a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</section>
{% endblock %}
