<!--**********************************************************************************************************-->
<!--********************************************* NAVBAR BackEnd   *********************************************-->
<!--**********************************************************************************************************-->
<!-- Navigation -->
<div class="container">

    <a class="navbar-brand js-scroll-trigger" href="{{ path('app_homepage') }}">accueil</a>

    <a class="navbar-brand js-scroll-trigger" href="{{ path('fos_user_security_logout') }}">déconnexion</a>


    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">



{#
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path('user_index') }}">utilisateurs</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path('project_index') }}">projets</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path('article_index') }}">articles</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path('actuality_index') }}">actualités</a>
            </li>

            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{{ path('event_index') }}">événements</a>
            </li>
#}



            <li class="dropdown">
              <button class="btn btn-default" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                OPTIONS <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="{{ path('groupmember_index') }}">Groupe</a></li>
                <li><a href="{{ path('user_index') }}">Utilisateurs</a></li>
                <li><a href="{{ path('projectuserrole_index') }}">Role d'utilisateur</a></li>
                <li><a href="{{ path('levelofaccess_index') }}">Niveau d'accès d'utilisateur</a></li>

                <li role="separator" class="divider"></li>
                <li><a href="{{ path('category_index') }}">Categorie</a></li>
                <li><a href="{{ path('article_index') }}">Article</a></li>

                <li role="separator" class="divider"></li>
                <li><a href="{{ path('project_index') }}">Projet</a></li>

                <li role="separator" class="divider"></li>
                <li><a href="{{ path('problematic_index') }}">Problematique</a></li>
                <li><a href="{{ path('typeofproblematic_index') }}">Type de problematique</a></li>

                <li role="separator" class="divider"></li>
                <li><a href="{{ path('actuality_index') }}">Actualité</a></li>

                <li role="separator" class="divider"></li>
                <li><a href="{{ path('event_index') }}">Evénement</a></li>
              </ul>
            </li>



        </ul>
    </div>
</div>

{#
{{ path('groupmember_index') }}
{{ path('user_index') }}
{{ path('projectuserrole_index') }}
{{ path('levelofaccess_index') }}

{{ path('category_index') }}
{{ path('article_index') }}

{{ path('project_index') }}

{{ path('problematic_index') }}
{{ path('typeofproblematic_index') }}

{{ path('actuality_index') }}

{{ path('event_index') }}





#}



