{% extends '::baseFront.html.twig' %}

{% block body %}

<!--**********************************************************************************************************-->
<!--********************************************* HEADER         *********************************************-->
<!--**********************************************************************************************************-->
<header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
        <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
                <img  src="{{ asset('app/img/logo4.png')}}" alt="">
            </h1>
            <hr>
        </div>
        {#<p class="text-faded mb-5">Petite phrase d'accroche / logo au dessus éventuellement</p> #}
    </div>
</header>

<!--**********************************************************************************************************-->
<!--********************************************* QUI SOMMES NOUS*********************************************-->
<!--**********************************************************************************************************-->
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                <h2 class="section-heading text-white">Qui sommes-nous ?</h2>
                <hr class="light my-4">
                <p class="text-faded mb-4">
                Lorem Elsass ipsum hop sagittis Strasbourg commodo Morbi risus, Christkindelsmärik wurscht munster mollis merci vielmols amet, hopla leverwurscht habitant turpis kougelhopf eleifend knack varius hoplageiss Carola libero. ornare schpeck Spätzle libero, elit tristique sit morbi purus non Heineken amet auctor.
                </p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="{{ path('app_whoarewe') }}">En savoir plus</a>
            </div>
        </div>
    </div>
</section>


<!--**********************************************************************************************************-->
<!--********************************************* ACTUALITES     *********************************************-->
<!--**********************************************************************************************************-->
{{ include('AppBundle:Includes:blocActualites.html.twig') }}


<!--**********************************************************************************************************-->
<!--********************************************* PARTENARIAT    *********************************************-->
<!--**********************************************************************************************************-->
{{ include('AppBundle:Includes:blocPartenariat.html.twig') }}


<!--**********************************************************************************************************-->
<!--********************************************* EVENEMENTS     *********************************************-->
<!--**********************************************************************************************************-->
{{ include('AppBundle:Includes:blocEvenements.html.twig') }}


<!--**********************************************************************************************************-->
<!--********************************************* CONTACT        *********************************************-->
<!--**********************************************************************************************************-->
{{ include('AppBundle:Includes:blocContact.html.twig') }}


{% endblock %}

